*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E85D75;
    text-align: center;
}

h1{
    font-size: 8vmin;
    margin-top: 12vmin;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

   

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: #F5FBEF;
    color:black;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:black; 
    color: #F5FBEF;
    border-radius: 1rem;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:black; 
    color: #F5FBEF;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: white;
    font-size:5vmin ;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.msgcontainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;

}

.hide{
    display: none; 
}

